.cartContainerMobile {
    width: 100%;
    height: 100vh;
    background-color: #282c34;
}

.cartTitleMobile {
    margin: 0;
    padding: 25px;
    color: #CAB381;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1em;
}

.productsContainerCartMobile {
    margin: 15px 0 15px 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.productNameCartMobile {
    font-family: Pacifico;
    text-align: start;
    width: 130px;
}

.productPriceCartMobile {
    width: 120px;
}

.deleteCartMobile {
    width: 100px;
}

.productCardCartMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0 5px 0;
    padding: 0 10px;
    background-color: whitesmoke;
}

.buttonCartMobile {
    margin: 25px;
    cursor: pointer;
}

.buttonBackToSiteCart {
    background-color: #282c34;
    border-color: #CAB381;
    color: #CAB381;
    margin-bottom: 25px;
    text-decoration: none;
    box-sizing: border-box;
    width: 250px;
}

.buttonContainerCart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totalCartCounter {
    font-size: 18px;
}

.productQuantityCartMobile {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
}

.quantitySelectorMobileCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

.minusMobileCart {
    background-color: #d4cfd3;
    color: #1C2431;
}

.plusMobileCart {
    background-color: #1C2431;
    color: white;
}