.adminMediasContainer {
    margin: 0;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 78.5vh;
    font-family: 'Montserrat', sans-serif;
}

.mediasUploadedContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    align-items: center;
}

.imageContainerMedias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 5px;
}
.imageUploadMedias {
    width: auto;
    max-height: 100%;
}
.imageUploadMedias:hover {
    cursor: pointer;
    opacity: 0.6;
}

.deleteImageMedias {
    position: relative;
    width: 25px;
    left: 90%;
    bottom: 40%;
    background-color: red;
    color: white;
}
