/*          Style of the product card           */

.itemProductCardContainer {
    width: 300px;
    height: 380px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 2px 2px #282c34;
}

.productNameProductCard {
    font-family: Pacifico;
    font-size: 28px;
}

.productDescriptionProductCard {
    font-family: Roboto;
    margin: 0;
}

.productPriceProductCard {
    color: #CAB381;
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
    margin: 5px 0 5px 0;
    text-shadow: 0 1px #282c34;
}

.productImageProductCard {
    height: 100px;
}

.productCardButton {
    color: #1C1D1F;
}

.linkToProductPage {
    text-decoration: none;
    border: solid 1px #CAB381;
    padding: 15px;
    color: #CAB381;
    width: 250px;
    box-sizing: border-box;
    margin: 10px;
    font-family: 'Abril Fatface', cursive;
}
.linkToProductPage:hover {
    transform: scale(1.05);
}

@media (max-width: 1060px) {
    .itemProductCardContainer {
        margin: 15px;
    }
}
