/*          Style of the product card           */

.itemProductCardContainer {
    width: 300px;
    height: 380px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.productNameProductCard {
    font-family: Pacifico;
    font-size: 28px;
}

.productDescriptionProductCard {
    font-family: Roboto;
    margin: 0;
}

.productPriceProductCard {
    color: #CAB381;
    font-size: 24px;
    margin: 5px 0 5px 0;
}

.productImageProductCard {
    height: 100px;
}

.productCardButton {
    color: whitesmoke;
}
