.productsMainContainer {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34312a;
}

.productsListContainer {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5vh;
}

.productsListTitle {
    background-color: #CAB381;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    margin: 0 0 35px 0;
    font-family: 'Abril Fatface', cursive;
}
