.adminMainContainer {
    width: 100%;
    background-color: #282c34;
    height: 100vh;
}

/*          Admin nav bar           */

.adminNavBar {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 15%;
    height: 85vh;
    padding: 10px;
}

.itemNavBarAdmin {
    background-color: white;
    margin: 15px 0 15px 0;
    padding: 15px 50px 15px 50px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.itemNavBarAdmin:hover {
    background-color: lightgray;
}

.activeItemAdmin {
    border-bottom: #CAB381 solid 5px;
}

/*          admin page         */

.titleAdminPage {
    padding: 190px 0 50px 0;
    width: 100%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1em;
    font-size: 36px;
    margin: 0;
    color: white;
}

.backtoHomeAdminContainer {
    display: none;
}

.fakeShopFormContainer {
    padding-bottom: 70px;
}

@media (max-width: 1060px) {

    .titleAdminPage {
        padding: 150px 0 25px 0;
    }
    .fakeShopFormContainer {
        padding-bottom: 150px;
    }
    .adminNavBar {
        flex-direction: row;
        height: auto;
        top: 0;
        z-index: 2;
    }
    .addAProductTitle {
        text-align: center;
    }

    .logoBackToHome {
        height: 150px;
    }
    .backtoHomeAdminContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        text-decoration: none;
        color: #CAB381;
        border: solid 2px #CAB381;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
}
