.adminMainContainer {
    width: 100%;
    background-color: #282c34;
    max-height: 100%;
}

/*          Admin nav bar           */

.adminNavBar {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 10%;
    height: 90vh;
    padding: 10px;
}

.itemNavBarAdmin {
    background-color: white;
    margin: 15px 0 15px 0;
    padding: 15px 50px 15px 50px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.itemNavBarAdmin:hover {
    background-color: lightgray;
}

.activeItemAdmin {
    border-bottom: #CAB381 solid 5px;
}

/*          admin page         */

.titleAdminPage {
    padding: 150px 0 50px 0;
    margin: 0;
    color: white;
}

.manageAdmin {
    color: white;
}

/*              Products            */

.productsAdmin {
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    flex-wrap: wrap;
    width: 60%;
}

.productCardAdmin {
    background-color: white;
    margin: 15px;
    padding: 15px;
    width: 300px;
    height: 400px;
}

.imageProductAdmin {
    height: 150px;
}

.deleteProductAdmin {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: red;
}

/*          Messages            */

.messageCardAdmin {
    background-color: white;
    text-align: start;
    width: 300px;
    height: 400px;
    margin: 15px;
    padding: 15px;
}

.itemMessageCardAdmin {
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}

.contentMessageAdmin {
    font-weight: normal;
}
