
.ordersMainContainerAdmin {
    width: 100%;
    min-height: 79vh;
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
}

.ordersTabContainer {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 70%;
    background-color: lightblue;
}

.headOrdersTab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ordersTabHeadCell {
    width: 20%;
}

.ordersTabCellContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ordersTabCell {
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 20%;
}

.moreDetailsOrders {
    height: 35px;
    border-radius: 0;
    border: solid 2px #282c34;
    color: #282c34;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
}
.moreDetailsOrders:hover {
    transform: scale(1.1);
}
