@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navBarAdminContainer {
    position: fixed;
    left: 0;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 85%;
    background-color: #1C2431;
}

.itemListNavBarAdmin {
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;
    padding: 15px;
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
}
.itemListNavBarAdmin:hover {
    background-color: #1C1D1F;
}

.activeItemListNavBarAdmin {
    background-color: #10151B;
}

.iconNavBarAdmin {
    padding: 0 35px 0 15px;
}

.messageNumberAdminNavBar {
    position: absolute;
    color: #CAB381;
    left: 80%;
    font-size: 18px;
    background-color: indianred;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
