
.logOutMainContainer {
    width: 100%;
}

.logOutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.disconnectIcon {
    margin: 0 15% 0 10%;
    cursor: pointer;
    color: indianred;
}

.disconnectMessage {
    color: #282c34;
    font-size: 18px;
}
