.listNavBar {
    position: fixed;
    padding: 25px;
    box-sizing: border-box;
    top: 5%;
    right: 0;
    background-color: rgba(200,200,200,0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid 2px #282c34;
    z-index: 3;
    width: 60%;
}

.closedMenuBurger {
    position: fixed;
    padding: 10px;
    top: 5%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.listNavBarMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.itemNavBarMobile {
    color: #1C1D1F;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    margin-top: 15px;
    letter-spacing: 0.1em;
    font-family: 'Abril Fatface', cursive;
    background-color: rgba(255,255,255,0.8);
}

.itemListNavBar:active, .itemListNavBar:focus {
    outline: none;
}

.burgerMenu {
    cursor: pointer;
    top: 5%;
    right: 2%;
}

.burgerMenuContainer {
    padding: 5px;
}

.burgerMenu:hover .bar1 {
    background-color: indianred;
}

.burgerMenu:hover .bar2 {
    background-color: indianred;
}

.burgerMenu:hover .bar3 {
    background-color: indianred;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    margin: 0;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    margin: 0;
    transform: rotate(45deg) translate(-9px, -6px);
}
