@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.navBarContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(230,230,230, 0.9);
    width: 100%;
    height: 15vh;
    z-index: 1;
    font-family: 'Abril Fatface', cursive;
}

.logoAndNameNavBar {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.logoNavBar {
    width: 150px;
    height: 150px;
}

.shopTitle {
    font-size: 46px;
    color: #1C1D1F;
}

.navLinkContainer {
    display: flex;
    flex-direction: row;
}

.itemNavBar {
    color: #282c34;
    font-size: 26px;
    letter-spacing: 0.1em;
    margin: 0 15px 0 15px;
    text-decoration: none;
    border-bottom: #1C1D1F solid 3px;
}

.activeItemNavBar {
    color: #CAB381;
    border-bottom: solid 3px #CAB381;
}

@media (max-width: 1060px) {
    .navBarContainer {
        justify-content: start;
        height: 15vh;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
    }
    .logoAndNameNavBar {
        width: auto;
    }
    .shopTitle {
        display: none;
    }

    .logoNavBar {
        height: 120px;
        width: 120px;
    }
}
