@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.navBarContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(230,230,230, 0.9);
    width: 100%;
    height: 15vh;
    z-index: 1;
    font-family: 'Abril Fatface', cursive;
    box-shadow: 1px 1px 1px #282c34;
}

.logoNavBar {
    width: 150px;
    height: 150px;
}

.shopTitle {
    font-size: 46px;
    color: #1C1D1F;
}

.navLinkContainer {
    display: flex;
    flex-direction: row;
}

.itemNavBar {
    color: #282c34;
    font-size: 22px;
    letter-spacing: 0.1em;
    margin: 0 15px 0 15px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: #CAB381 1px 1px;
}
.itemNavBar:hover {
    transform: scale(1.1);
}
.itemNavBar:active, .itemNavBar:focus {
    outline: 0;
    -moz-outline-style: none;
}

.activeItemNavBar {
    color: #CAB381;
    border-bottom: solid 3px #CAB381;
}

.cartIconNavBar {
    color: #CAB381;
}

.closeCartIcon {
    color: #CAB381;
    cursor: pointer;
}
.closeCartIcon:hover {
    transform: scale(1.1);
}

.closeAndPriceCart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteItemFromCart {
    color: indianred;
    cursor: pointer;
}
.deleteItemFromCart:hover {
    transform: scale(1.1);
}

.cartContainerNavBar {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 400px;
    background-color: rgba(230,230,230, 0.9);
    box-sizing: border-box;
    border-top: solid 3px #CAB381;
}

.separatorCart {
    width: 40%;
    height: 3px;
    margin: 0 auto 25px auto;
    border: none;
    background-color: #CAB381;
}

.cartProductCard {
    padding: 15px 25px 15px 25px;
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
}

.productPriceAndNameCart {
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.navBarButtonCart {
    margin: 15px;
}

.cartIconAndNumber:hover .numberCartNavBar {
    display: none;
}

.numberCartNavBar {
    position: absolute;
    margin: 0;
    right: 14.5%;
    top: 25%;
    height: 30px;
    width: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    border-radius: 50%;
    box-sizing: border-box;
}

@media (max-width: 1060px) {
    .navBarContainer {
        justify-content: start;
        height: 15vh;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
    }
    .logoAndNameNavBar {
        width: auto;
    }
    .shopTitle {
        display: none;
    }

    .logoNavBar {
        height: 120px;
        width: 120px;
    }
}
