@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.navBarContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 100%;
    height: 10vh;
    z-index: 1;
    font-family: 'Abril Fatface', cursive;
}

.logoAndNameNavBar {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoNavBar {
    width: 80px;
    height: 80px;
}

.shopTitle {
    font-size: 46px;
    color: #CAB381;
}

.navLinkContainer {
    display: flex;
    flex-direction: row;
}

.itemNavBar {
    color: #282c34;
    font-size: 26px;
    letter-spacing: 0.1em;
    margin: 0 15px 0 15px;
    text-decoration: none;
}

.activeItemNavBar {
    border-bottom: solid 3px #282c34;
}
