.myOrderDetailsContainer {
    background-color: #A1A1A1;
    position: absolute;
    height: 85%;
    width: 100%;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderDetailsContainerMyOrder {
    background-color: whitesmoke;
    padding: 15px 55px;
    margin: 15px;
}

.orderDetailsAddress {
    margin: 5px;
}

.orderDateMyOrder {
    margin: 25px 15px 45px 15px;
}

.orderDetailsMyOrderTitle {
    font-weight: bold;
    font-size: 18px;
}

.arrayContainerMyOrderDetails {
    width: 80%;
    background-color: #D4CFD3;
}

.myOrderDetailsHeadContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: solid 3px #cab381
}

.myOrderDetailsHeadCell {
    width: 20%;
}

.tabContentMyOrder {
    background-color: whitesmoke;
}

.myOrderDetailsContentContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.myOrderDetailsContentCell {
    width: 20%;
}

.myOrderButton {
    position: absolute;
    right: 5%;
    top: 5%;
    border: none;
    background-color: #cab381;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    border-radius: 5px;
}
.myOrderButton:hover {
    transform: scale(1.05);
}