.productsAdmin {
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 70vh;
    background-color: #7f8fa6;
}

.productsAdminContainer {
    margin-top: 10%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.productsContainerAdmin {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.addNewProductButtonAdmin {
    position: absolute;
    top: 15%;
    left: 90%;
    border: solid dodgerblue 1px;
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.addNewProductButtonAdmin:hover {
    transform: scale(1.1);
    background-color: transparent;
    color: dodgerblue;
}

.manageAdminProducts {
    text-align: start;
    margin: 50px;
    font-family: 'Abril Fatface', cursive;
    color: black;
}

.productCardAdmin {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    width: 400px;
    height: 550px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.imageProductAdmin {
    height: 150px;
}

.descriptionProductAdmin {
    text-align: start;
}

.buttonsAdminContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.deleteProductAdmin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: red;
    width: 130px;
    height: 55px;
    cursor: pointer;
}
.deleteProductAdmin:hover {
    transform: scale(1.1);
}

.editProductAdmin {
    border: solid 1px #282c34;
    cursor: pointer;
    box-sizing: border-box;
    height: 55px;
    width: 130px;
    color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.editProductAdmin:hover {
    transform: scale(1.1);
}
