.fakeShopFormContainer {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #444444;
    margin-left: auto;
    margin-right: auto;
}

.formFakeShop {
    width: 85%;
}

.labelNewProduct {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.addAProductTitle {
    margin-top: 50px;
    color: #CAB381;
}

.inputShopForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
    align-items: center;
    margin: 15px;
    border: none;
    background-color: #282c34;
    border-radius: 5px;
    color: white;
    width: 90%;
    height: 60px;
}

.addNewProductButton {
    background-color: whitesmoke;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}
