.errorPageMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/404errorimage.jpg');
    background-size: cover;
}

.errorMessageContainer404  {
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
}

.oopsErrorPage {
    font-size: 124px;
    color: #CAB381;
    margin: 10px;
}

.backToHomeErrorPage {
    color: white;
    border-radius: 5px;
    background-color: #CAB381;
    padding: 15px;
    margin: 25px;
    box-shadow: 2px 2px 2px lightgray;
    text-decoration: none;
}
.backToHomeErrorPage:hover {
    opacity: 0.8;
}
.backToHomeErrorPage:active, .backToHomeErrorPage:focus {
    outline: 0;
    -moz-outline-style: none;
    transform: scale(0.95);
}
